:root {
  --wp-admin-theme-color: #007cba;
  --wp-admin-theme-color-darker-10: #006ba1;
  --wp-admin-theme-color-darker-20: #005a87;
}
html,
body,
div,
span,
h2,
h4,
p,
a,
img,
ul,
li,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: 0 0;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
:focus {
  outline: 0;
}
article,
header,
nav {
  display: block;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  color: #666;
  background-color: #fff;
  line-height: 1.7em;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.et_cover_background {
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
}
a {
  text-decoration: none;
  color: #2ea3f2;
}
p {
  padding-bottom: 1em;
}
p:not(.has-background):last-of-type {
  padding-bottom: 0;
}
h2,
h4 {
  color: #333;
  padding-bottom: 10px;
  line-height: 1em;
  font-weight: 500;
}
h4 a {
  color: inherit;
}
h2 {
  font-size: 26px;
}
h4 {
  font-size: 18px;
}
input {
  -webkit-appearance: none;
}
input {
  font-family: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
#top-menu li {
  word-wrap: break-word;
}
.mobile_menu_bar:before,
.mobile_menu_bar:after,
#top-menu li.current-menu-item > a {
  color: #2ea3f2;
}
.et-search-form,
.nav li ul,
.et_mobile_menu {
  border-color: #2ea3f2;
}
#main-content {
  background-color: #fff;
}
.container {
  width: 80%;
  max-width: 1080px;
  margin: auto;
  position: relative;
}
.container {
  text-align: left;
  position: relative;
}
#main-header {
  line-height: 23px;
  font-weight: 500;
  top: 0;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 99999;
}
.et_header_style_left #et-top-navigation {
  padding-top: 33px;
}
.et_header_style_left #et-top-navigation nav > ul > li > a {
  padding-bottom: 33px;
}
.et_header_style_left .logo_container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.et_header_style_left #et-top-navigation .mobile_menu_bar {
  padding-bottom: 24px;
}
#logo {
  margin-bottom: 0;
  max-height: 54%;
  display: inline-block;
  float: none;
  vertical-align: middle;
  -webkit-transform: translate3d(0, 0, 0);
}
span.logo_helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.et-social-icon span {
  display: none;
}
#top-menu-nav,
#top-menu {
  line-height: 0;
}
#et-top-navigation {
  font-weight: 600;
}
nav#top-menu-nav,
#top-menu {
  float: left;
}
#top-menu li {
  display: inline-block;
  font-size: 14px;
  padding-right: 22px;
}
#top-menu > li:last-child {
  padding-right: 0;
}
#top-menu a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  display: block;
  position: relative;
}
.et-search-form {
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1000;
  width: 100%;
}
.et-search-form input {
  width: 90%;
  border: none;
  color: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  margin: auto;
  background: 0 0;
}
.et-search-form .et-search-field::-ms-clear {
  width: 0;
  height: 0;
  display: none;
}
.et_search_form_container {
  animation: none;
  -o-animation: none;
  -webkit-animation: none;
  -moz-animation: none;
}
.container.et_search_form_container {
  position: relative;
  opacity: 0;
  height: 1px;
}
span.et_close_search_field {
  display: block;
  width: 30px;
  height: 30px;
  z-index: 99999;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
span.et_close_search_field:after {
  font-family: "ETmodules";
  content: "\4d";
  speak: none;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container.et_menu_container {
  z-index: 99;
}
.et_search_outer {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
}
form.et-search-form {
  background: rgba(0, 0, 0, 0) !important;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.et_pb_pagebuilder_layout .entry-content {
  margin-bottom: 0 !important;
  padding-top: 0;
}
#et-top-navigation {
  float: right;
}
#top-menu li li {
  padding: 0 20px;
  margin: 0;
}
#top-menu li li a {
  padding: 6px 20px;
  width: 200px;
}
#top-menu .menu-item-has-children > a:first-child:after {
  font-family: "ETmodules";
  content: "3";
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 800;
}
#top-menu .menu-item-has-children > a:first-child {
  padding-right: 20px;
}
#top-menu li .menu-item-has-children > a:first-child {
  padding-right: 40px;
}
#top-menu li .menu-item-has-children > a:first-child:after {
  right: 20px;
  top: 6px;
}
#et_mobile_nav_menu {
  float: right;
  display: none;
}
.mobile_menu_bar {
  position: relative;
  display: block;
  line-height: 0;
}
.mobile_menu_bar:before {
  content: "\61";
  font-size: 32px;
  left: 0;
  position: relative;
  top: 0;
}
.mobile_nav .select_page {
  display: none;
}
.page.et_pb_pagebuilder_layout #main-content {
  background-color: transparent;
}
@media all and (max-width: 980px) {
  #page-container,
  #page-container {
    padding-top: 80px;
  }
  .et_non_fixed_nav #page-container {
    padding-top: 0;
  }
  #top-menu {
    display: none;
  }
  #et-top-navigation {
    margin-right: 0;
  }
  .et_header_style_left #et-top-navigation {
    padding-top: 24px;
    display: block;
  }
  .et_header_style_left #logo {
    max-width: 50%;
  }
  .et_header_style_left .et-search-form {
    width: 50% !important;
    max-width: 50% !important;
  }
  #et_mobile_nav_menu {
    display: block;
  }
}
@media all and (max-width: 767px) {
  #et-top-navigation {
    margin-right: 0;
  }
}
@media all and (max-width: 479px) {
  #et-top-navigation {
    margin-right: 0;
  }
}
@font-face {
  font-family: "ETmodules";
  font-display: swap;
  src: url(//example-mode.xyz/wp-content/themes/Divi/core/admin/fonts/modules.eot);
  src: url(//example-mode.xyz/wp-content/themes/Divi/core/admin/fonts/modules.eot?#iefix)
      format("embedded-opentype"),
    url(//example-mode.xyz/wp-content/themes/Divi/core/admin/fonts/modules.ttf)
      format("truetype"),
    url(//example-mode.xyz/wp-content/themes/Divi/core/admin/fonts/modules.woff)
      format("woff"),
    url(//example-mode.xyz/wp-content/themes/Divi/core/admin/fonts/modules.svg#ETmodules)
      format("svg");
  font-weight: 400;
  font-style: normal;
}
@media all and (min-width: 981px) {
  .et_pb_gutters3 .et_pb_column {
    margin-right: 5.5%;
  }
  .et_pb_gutters3 .et_pb_column_4_4 {
    width: 100%;
  }
  .et_pb_gutters3 .et_pb_column_4_4 .et_pb_module {
    margin-bottom: 2.75%;
  }
  .et_pb_gutters3 .et_pb_column_1_3 {
    width: 29.6667%;
  }
  .et_pb_gutters3 .et_pb_column_1_3 .et_pb_module {
    margin-bottom: 9.27%;
  }
}
@media all and (max-width: 479px) {
  .et_pb_column {
    width: 100% !important;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mobile_menu_bar:before,
.et_pb_button:after {
  font-family: "ETmodules" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0px 0px;
  direction: ltr;
}
.et-pb-icon {
  font-family: "ETmodules";
  content: attr(data-icon);
  speak: none;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 96px;
  font-style: normal;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  direction: ltr;
}
.nav li li {
  padding: 0 20px;
  margin: 0;
}
.nav li {
  position: relative;
  line-height: 1em;
}
.nav li li {
  position: relative;
  line-height: 2em;
}
.nav li ul {
  position: absolute;
  padding: 20px 0;
}
.nav li ul {
  z-index: 9999;
  width: 240px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  border-top: 3px solid #2ea3f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav li ul {
  -webkit-transform: translate3d(0, 0, 0);
  text-align: left;
}
.nav li li ul {
  z-index: 1000;
  top: -23px;
  left: 240px;
}
.nav li li a {
  font-size: 14px;
}
.et_mobile_menu {
  position: absolute;
  left: 0;
  padding: 5%;
  background: #fff;
  width: 100%;
  visibility: visible;
  opacity: 1;
  display: none;
  z-index: 9999;
  border-top: 3px solid #2ea3f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.mobile_menu_bar {
  position: relative;
  display: block;
  line-height: 0;
}
.mobile_menu_bar:before {
  content: "\61";
  font-size: 32px;
  position: relative;
  left: 0;
  top: 0;
}
.mobile_nav .select_page {
  display: none;
}
.et_pb_button {
  font-size: 20px;
  font-weight: 500;
  padding: 0.3em 1em;
  line-height: 1.7em !important;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 2px solid;
  border-radius: 3px;
}
.et_pb_button:before,
.et_pb_button:after {
  font-size: 32px;
  line-height: 1em;
  content: "\35";
  opacity: 0;
  position: absolute;
  margin-left: -1em;
  text-transform: none;
  -webkit-font-feature-settings: "kern" off;
  font-feature-settings: "kern" off;
  font-variant: none;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
.et_pb_button:before {
  display: none;
}
.et_subscribe_loader {
  display: none;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 16px;
  margin-left: -8px;
}
.et_pb_column_1_3 h4 {
  font-size: 18px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.et_pb_blurb_content,
.et_pb_newsletter_description {
  word-wrap: break-word;
}
.et_pb_row {
  width: 80%;
  max-width: 1080px;
  margin: auto;
  position: relative;
}
.et_builder_inner_content {
  position: relative;
  z-index: 1;
}
.et_pb_column {
  float: left;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  min-height: 1px;
}
.et_pb_css_mix_blend_mode_passthrough {
  mix-blend-mode: unset !important;
}
.et_pb_row,
.et_pb_column,
.et_pb_module,
.et_pb_with_background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.et_pb_with_border .et_pb_contact_form input {
  border-width: 0;
  border-style: solid;
  border-color: #333;
}
.et_pb_blurb_content {
  max-width: 550px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  display: table;
  width: 100%;
}
.et_pb_blurb.et_pb_text_align_center
  .et_pb_blurb_content
  .et_pb_blurb_container {
  text-align: center;
}
.et_pb_blurb_content p:last-of-type {
  padding-bottom: 0;
}
.et_pb_main_blurb_image {
  display: inline-block;
  margin-bottom: 30px;
  line-height: 0;
  max-width: 100%;
}
.et_pb_blurb h4 a,
.et_pb_blurb .et_pb_module_header a {
  text-decoration: none;
}
.et_pb_blurb .et_pb_image_wrap {
  display: block;
  margin: auto;
}
.et_pb_button_module_wrapper.et_pb_button_alignment_center {
  text-align: center;
}
.et_pb_button_module_wrapper > a {
  display: inline-block;
}
.et_pb_newsletter_result {
  display: none;
}
.et_pb_newsletter_success {
  text-align: center;
}
.et_pb_newsletter.et_pb_subscribe .et_pb_newsletter_description {
  -ms-flex-item-align: start;
  align-self: start;
}
.et_pb_newsletter.et_pb_subscribe .et_pb_newsletter_description {
  width: 100%;
}
.et_pb_contact_field * {
  position: relative;
}
.et_pb_contact_form_label {
  display: none;
}
.et_pb_row:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  width: 0;
}
.et_pb_section {
  background-position: center;
  background-size: 100%;
  background-size: cover;
}
.et_pb_bg_layout_dark h2 {
  color: #fff !important;
}
.et_pb_text_align_center {
  text-align: center;
}
.et_pb_social_media_follow_network_name {
  display: none;
}
.et_pb_section {
  position: relative;
  background-color: #fff;
}
.et_pb_row .et_pb_column:last-child,
.et_pb_row .et_pb_column.et-last-child {
  margin-right: 0 !important;
}
.et_pb_module {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.et_pb_module {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.et-waypoint:not(.et_pb_counters) {
  opacity: 0;
}
@media all and (min-width: 981px) {
  .et_pb_section {
    padding: 4% 0;
  }
  .et_pb_row {
    padding: 2% 0;
  }
  .et_pb_section .et_pb_row .et_pb_column .et_pb_module:last-child {
    margin-bottom: 0;
  }
  .et_pb_row .et_pb_column:last-child,
  .et_pb_row .et_pb_column.et-last-child {
    margin-right: 0 !important;
  }
}
@media all and (max-width: 980px) {
  .et_pb_column {
    width: 100%;
    margin-bottom: 30px;
  }
  .et_pb_section {
    padding: 50px 0;
  }
  .et_pb_row {
    padding: 30px 0;
  }
  .et_pb_row .et_pb_column:last-child,
  .et_pb_row .et_pb_column.et-last-child {
    margin-bottom: 0;
  }
  .et_pb_column .et_pb_module {
    margin-bottom: 30px;
  }
  .et_pb_row .et_pb_column .et_pb_module:last-child {
    margin-bottom: 0;
  }
  .et_pb_row {
    max-width: 1080px;
  }
}
.et_animated {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both !important;
  animation-fill-mode: both !important;
}
.et_multi_view_hidden {
  display: none !important;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.lazyload {
  opacity: 0;
}
#top-menu li a {
  font-size: 16px;
}
@media only screen and (min-width: 981px) {
  .et_header_style_left #et-top-navigation {
    padding: 49px 0 0 0;
  }
  .et_header_style_left #et-top-navigation nav > ul > li > a {
    padding-bottom: 49px;
  }
  #logo {
    max-height: 92%;
  }
}
@media only screen and (min-width: 1350px) {
  .et_pb_row {
    padding: 27px 0;
  }
  .et_pb_section {
    padding: 54px 0;
  }
}
div.et_pb_section.et_pb_section_0 {
  background-image: linear-gradient(
      -90deg,
      rgba(58, 52, 226, 0.93) 0%,
      rgba(73, 108, 220, 0.04) 100%
    ),
    url(https://example-mode.xyz/wp-content/uploads/2021/01/tradeschool.jpg) !important;
}
.et_pb_section_0.et_pb_section {
  padding-top: 117px;
  padding-bottom: 81px;
  margin-bottom: 3px;
}
.et_pb_row_0 {
  min-height: 433px;
}
.et_pb_row_0.et_pb_row {
  padding-top: 230px !important;
  padding-bottom: 1px !important;
  margin-top: 30px !important;
  margin-right: 103px !important;
  margin-bottom: 33px !important;
  margin-left: auto !important;
  padding-top: 230px;
  padding-bottom: 1px;
}
body #page-container .et_pb_section .et_pb_button_0 {
  color: #ffffff !important;
  background-color: #33a51c;
}
.et_pb_section_1 {
  min-height: 437px;
}
.et_pb_section_1.et_pb_section {
  padding-top: 90px;
  padding-bottom: 80px;
  margin-top: 7px;
}
.et_pb_row_1 {
  min-height: 175px;
}
.et_pb_row_1.et_pb_row {
  padding-top: 30px !important;
  margin-top: -21px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding-top: 30px;
}
.et_pb_blurb_2.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_2.et_pb_blurb .et_pb_module_header a {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-size: 22px;
  color: #1f1f1f !important;
  line-height: 1.8em;
}
.et_pb_blurb_1.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_1.et_pb_blurb .et_pb_module_header a {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-size: 22px;
  color: #1f1f1f !important;
  line-height: 1.8em;
}
.et_pb_blurb_0.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_0.et_pb_blurb .et_pb_module_header a {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-size: 22px;
  color: #1f1f1f !important;
  line-height: 1.8em;
}
.et_pb_blurb_1.et_pb_blurb p {
  line-height: 1.9em;
}
.et_pb_blurb_0.et_pb_blurb p {
  line-height: 1.9em;
}
.et_pb_blurb_2.et_pb_blurb p {
  line-height: 1.9em;
}
.et_pb_blurb_0.et_pb_blurb {
  font-size: 16px;
  line-height: 1.9em;
}
.et_pb_blurb_1.et_pb_blurb {
  font-size: 16px;
  line-height: 1.9em;
}
.et_pb_blurb_2.et_pb_blurb {
  font-size: 16px;
  line-height: 1.9em;
}
.et_pb_blurb_0 .et-pb-icon {
  font-size: 60px;
  color: #4e5ed0;
}
.et_pb_blurb_1 .et-pb-icon {
  font-size: 60px;
  color: #4e5ed0;
}
.et_pb_blurb_2 .et-pb-icon {
  font-size: 60px;
  color: #4e5ed0;
}
@media only screen and (max-width: 980px) {
  body #page-container .et_pb_section .et_pb_button_0:after {
    display: inline-block;
    opacity: 0;
  }
}
@media only screen and (max-width: 767px) {
  body #page-container .et_pb_section .et_pb_button_0:after {
    display: inline-block;
    opacity: 0;
  }
}
